{% extends 'posts/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="card-title">Доступные планы подписки</h2>
                    <div class="list-group">
                        {% for plan in plans %}
                        <form method="post" action="{% url 'users:subscription_plans' %}">
                            {% csrf_token %}
                            <input type="hidden" name="plan_name" value="{{ plan.name }}">
                            <button type="submit" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ plan.name }}</h5>
                                    <small>{{ plan.price }} / {{ plan.duration }}</small>
                                </div>
                                <p class="mb-1">{{ plan.description }}</p>
                            </button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}